<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eus.ehu.adibidea.tta.apprendeus">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vista.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Vista.Menu1Activity" />
        <activity android:name=".Vista.Menu2Activity" />
        <activity android:name=".Vista.GorputzaActivity" />
        <activity android:name=".Vista.FamiliaActivity" />
        <activity android:name=".Vista.EtxeaActivity" />
        <activity android:name=".Vista.EgunakActivity" />
        <activity android:name=".Vista.UrtaroakActivity" />
        <activity android:name=".Vista.BingoaActivity" />
        <activity android:name=".Vista.Familia2Activity" />
        <activity
            android:name=".Vista.SukaldeaActivity"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".Vista.EgongelaActivity"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".Vista.JangelaActivity"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".Vista.LogelaActivity"
            android:theme="@style/AppTheme.CustomTheme"/>
        <activity
            android:name=".Vista.KomunaActivity"
            android:theme="@style/AppTheme.CustomTheme"></activity>
    </application>

</manifest>